body
{ font-style: normal;
  font-size: 12pt;
  font-family: arial, sans-serif;
  color: #555;
}

p
{ font: 'trebuchet ms', arial, sans-serif;
  line-height: 1.5em;}

a
{ outline: none;
  text-decoration: none;
  color: #00BFFF;}

/* menu block */
#banner
{ 
  display: block;
  width: 100%; /* the width of menu block */
  /* height: 0px; */ /* the height of menu block */
  /* border: 10px; /* the width of border is 0 */
  /*border: 5px solid red;*/
  border-style: solid;
  border-width: 5px;
  border-color: red;
  background: #1B4794; /* background color of the menu block */
  background-color: gray;
  /*padding: 10px 0px 10px 0px;*/
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  /*margin: 0 0 0 0px;*/
  margin-top: 0px;
  margin-right: -2px;
  margin-bottom: 0px;
  margin-left: -2px;
}

#banner_content
{
  display: block;
  width: 80%;
  background: #0000FF;
  min-width: 500px;
  max-width: 500px;
  margin: 20px 0 0 0px;
}

/* homepage title block */
#banner_text 
{ 
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: #00FF00;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  /*margin-left: 2%; /* title of homepage block to left */*/
  width: 35%; /* width of the homepage block */
  text-align: left; /* align style of the text in the homepage block */
}

/* About me block */
#banner_about_me 
{ 
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background: #00FF00;
  vertical-align: middle;
  float:right;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  /*margin-right: 4%; /* title of homepage block to left */
  width: 15%; /* width of the homepage block */
  text-align: right; /* align style of the text in the homepage block */
}

#banner_text h1
{ font: normal 180% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 20px;
  color: #F4F4F6;}

#banner_text h2
{ font: normal 150% 'century gothic', arial, sans-serif;
  padding: 4px 0 0 0;
  color: #C5C6C7;}
  
#banner_text h3
{ font: normal 100% 'century gothic', arial, sans-serif;
  padding: 4px 0 0 0;
  color: #eee;}

#banner_about_me h1
{ font: normal 120% 'century gothic', arial, sans-serif;
  margin: 0 20px 0 0;
  padding: 0 0 0 0;
  color: #F4F4F6;}
  
#banner_content img
{ 
  display: inline-block;
  vertical-align: left;
  width: 150px;
  border-radius: 2%;
  box-shadow: 0px 0px 15px #444;
}

#content
{ 
  width: 80%;
  min-width: 500px;
  max-width: 800px;
  margin: 0 auto; /*horizontal align: center*/
  padding: 10px;
  text-align: justify;
} 

#content h1
{ font: normal 170% 'century gothic', arial;
  margin: 20px 0 20px 0;
  padding: 15px 0 5px 0;
  color: #000;
  font-style: bold;
}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 80%;
  height: 20px;
  padding: 0px 0 5px 0;
  text-align: center; 
  background: #C0C0C0;
  color: #A8AA94;}

.pub
{
  display: block;
  margin-bottom: 20px;
}

.pub img
{
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  border:1px solid #ccc;
  padding: 1%;
  box-shadow:2px 2px 3px #ccc;
  margin-right:2%;
}

.pub-text
{
  display: inline-block;
  vertical-align: middle;
  width: 70%;
}

.pub-text h2
{ 
  font: normal 100% 'century gothic', arial;
  color: #000;
}

.pub-text h3
{
	font: bold 100% 'century gothic', arial;
}

.pub-text p
{
	font: normal 80% 'century gothic', arial;
}
